{% if userInteractiveLoginData is defined %}
    <div class="ez-table-header mt-3">
        <div class="ez-table-header__headline">
            {{ 'Activities.log.login_history'|trans|desc('Login History') }}
        </div>
    </div>

    <div class="ez-scrollable-table-wrapper">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <th scope="row">
                    {{ 'Activities.log.total_login'|trans|desc('Total login') }}
                </th>
                <td>{{userInteractiveLoginData.loginNumber}}</td>
            </tr>
            <tr>
                <th scope="row">
                    {{ 'Activities.log.last_login_date'|trans|desc('Last login date') }}
                </th>
                <td>{{userInteractiveLoginData.lastLogin.date|ez_short_datetime}}</td>
            </tr>
            <tr>
                <th scope="row">
                    {{ 'Activities.log.password_expired'|trans|desc('Password expired') }}
                </th>
                <td>
                    {% if userInteractiveLoginData.passwordExpired %}
                        {{ 'Activities.log.yes'|trans|desc('Yes') }}
                    {% else %}
                        {{ 'Activities.log.no'|trans|desc('No') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    {{ 'Activities.log.password_expiration_date'|trans|desc('Expiration Date') }}
                </th>
                <td>
                    {% if userInteractiveLoginData.passwordExpirationDate %}
                        {% set password_expire_in = userInteractiveLoginData.passwordExpirationDate %}

                        {% if password_expire_in.d > 0 %}
                            {{ 'ezuser.password_expires_in'|trans({
                                '%count%': password_expire_in.d + (password_expire_in.h >= 12 ? 1 : 0)
                            })|desc('Current password <b>expires in %count% days</b>')|raw }}
                        {% else %}
                            {{ 'ezuser.password_expires_today'|trans({
                            })|desc('Current password <b>expires today</b>')|raw }}
                        {% endif %}
                    {% else %}
                        {{ 'Activities.log.no'|trans|desc('No') }}
                    {% endif %}
                </td>
            </tr>


            </tbody>
        </table>
    </div>
{% endif %}